button.all-button {
 outline: none;
 cursor: pointer;
 border: none;
 padding: 0.9rem 2rem;
 margin: 0;
 font-family: inherit;
 font-size: inherit;
 position: relative;
 display: inline-block;
 letter-spacing: 0.05rem;
 font-weight: 700;
 font-size: 17px;
 border-radius: 500px;
 overflow: hidden;
 background: #5CC9B4;
 color: ghostwhite;
}

button.all-button span {
 position: relative;
 z-index: 10;
 transition: color 0.4s;
}

button.all-button:hover span {
 color: black;
}

button.all-button::before,
button.all-button::after {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 0;
}

button.all-button::before {
 content: "";
 background: #727272;
 width: 120%;
 left: -10%;
 transform: skew(30deg);
 transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

button.all-button:hover::before {
 transform: translate3d(100%, 0, 0);
}
