/* Variante pour fond sombre - texte blanc initial */
button.learn-more-dark {
 display: inline-flex;
 align-items: center;
 width: auto;
 height: auto;
 padding: 0;
 position: relative;
 cursor: pointer;
 outline: none;
 border: 0;
 vertical-align: middle;
 text-decoration: none;
 background: transparent;
 font-size: inherit;
 font-family: inherit;
}

button.learn-more-dark .button-text {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: relative;
 display: inline-;
 padding: 0.75rem 1rem 0.75rem 3.5rem;
 margin: 0;
 color: #ffffff;
 font-weight: 700;
 line-height: 1.6;
 text-align: center;
 text-transform: uppercase;
 white-space: nowrap;
}

button.learn-more-dark .circle {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 left: 0;
 top: 0;
 bottom: 0;
 display: block;
 margin: 0;
 width: 3rem;
 height: 3rem;
 background: #ffffff;
 border-radius: 1.625rem;
}

button.learn-more-dark .circle .icon {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 bottom: 0;
 margin: auto;
 background: #282936;
}

button.learn-more-dark .circle .icon.arrow {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 left: 0.625rem;
 width: 1.125rem;
 height: 0.125rem;
 background: none;
}

button.learn-more-dark .circle .icon.arrow::before {
 position: absolute;
 content: "";
 top: -0.29rem;
 right: 0.0625rem;
 width: 0.625rem;
 height: 0.625rem;
 border-top: 0.125rem solid #282936;
 border-right: 0.125rem solid #282936;
 transform: rotate(45deg);
}

button.learn-more-dark:hover .circle {
 width: 100%;
 background: #5CC9B4;
}

button.learn-more-dark:hover .circle .icon.arrow {
 background: #fff;
 transform: translate(1rem, 0);
}

button.learn-more-dark:hover .circle .icon.arrow::before {
 border-top: 0.125rem solid #fff;
 border-right: 0.125rem solid #fff;
}

button.learn-more-dark:hover .button-text {
 color: #fff;
}
