.inputGroup {
  font-family: 'Segoe UI', sans-serif;
  margin: 0.5em 0 0.5em 0;
  max-width: 300px;
  position: relative;
}

.inputGroup input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid #5CC9B4;
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
}

.inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  margin-top: -3em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus, input:valid)~label {
  transform: translateY(-50%) scale(.9);
  margin: -3em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: #ffffff;
  color: #5CC9B4;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: #5CC9B4;
  border-width: 3px;
}